/*
Our current blog is a two-column layout, with a main content region and a
sidebar. The easiest way to make this more readable on a mobile browser is
to remove the floating elements so that the sidebar falls beneath the main
content. That way, the reader won’t have to scroll sideways on the device.
This is a dead-simple responsive design solution.
 */

body {
    /* 95% of 480px = 456px */
    width: 95%;
    /* Top and Bottom: 0, Right and Left: 5px */
    margin: 0 5px;
}

nav, section, header, footer {
    margin: 0 10px 0 10px;
}

#sidebar, #posts {
    float: none;
    width: 100%;
}