body {
    font-family: Arial, "MS Trebuchet", sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

p, li {
    line-height: 20px;
}

#page-header {
    width: 100%;
    padding: 1em;
    font-size: 140%;
    top: 100vh;
    left: 0;
    transition: opacity .2s ease-in-out;
    text-align: center;
}

#page-header nav a {
    display: inline-block;
    outline: none;
    text-decoration: none;
    opacity: .7;
    padding: 0 1em;
    color: black;
    transition: opacity .2s ease-in-out;
}

#page-header nav img {
    height: 40px;
    /* Align the image with the text */
    transform: translateY(+35%);
}

#page-header nav a:hover, nav a:focus {
    opacity: 1;
}

.button-slider {
    display: table-cell;
    /* Align the image in the horizontal center of div */
    text-align: center;
    /* Align the image in the vertical center (middle) of div */
    vertical-align: middle;
}

.button-slider > img {
    width: 50px;
    height: 50px;
}

#button-slider-left {
    padding-right: 20px;
    transform: rotate(180deg);
}

#button-slider-right {
    padding-left: 20px;
}

.slider {
    display: table-cell;
    text-align: center;
    width: 80%;
}

#page-footer {
    display: block;
    text-align: center;
    width: 100%;
}
